{{"<!-- Intro Section -->" | safeHTML}}
<section class="bg-one intro section" id="glovo">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center wow fadeInUp" data-wow-duration="500ms">
        <div class="block">
          <div class="content glovo text-center">
            <h3 class="mb-3"><i class="las la-motorcycle"></i> También estamos en Glovo</h3>
            <div class="d-flex justify-content-around">
              <a target="_blank" rel="noreferrer" href="https://glovoapp.com/en/zar/store/maremoto-drinks-cocktails/" role="button" class="col-sm-5 btn btn-block btn-shadow mt-0">
                Cocktails & Drinks
                <img class="ml-3 d-none d-md-inline" src="images/glovo.jpg"/>
              </a>
              <a target="_blank" rel="noreferrer" href="https://glovoapp.com/en/zar/store/maremoto/" role="button" class="col-sm-5 btn btn-block btn-shadow mt-0">
                Desayunos
                <img class="ml-3 d-none d-md-inline" src="images/glovo.jpg"/>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 text-center wow fadeInUp" data-wow-duration="500ms">
        <div class="block">
          <div class="content text-center">
            <h3><i class="las la-users"></i> ¿Quieres trabajar con nosotros?</h3>
            <p>¡Próxima incorporación de personal para diferentes puestos!</p>
            <div class="d-flex justify-content-center">
            <a target="_blank" rel="noreferrer" href="mailto:maremotocafe@hotmail.com" role="button" class="col-sm-11 btn btn-block btn-shadow">
              Déjanos tu curriculum en maremotocafe@hotmail.com
            </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{"<!-- /Intro -->" | safeHTML}}
